// <-- Media Queries -->

//Actual CSS
.owl-carousel {
    background-color: purple;
    height: 250px;
    .owl-item {
        background-color: #15ff00;
        color: red;
        height: 250px;
    }
}