// <-- Media Queries -->
//// Make font responsive on smaller screens
@media (min-width:0) and (max-width:500px) {
    .col-md-8 {
       .hero-text {
       font-size: 8vw;
       }
    }
}
//// Restore static font for larger screens
@media (min-width:501px){
    .col-md-8 {
        .hero-text {
        font-size: 40px;
        }
    }
}
//// Quote button adjusts itself on smaller screens to be responsive
@media (max-width:767px) {
    .col-md-8 {
        #quote {
        width: 100%;
        }
        text-align: center;
    }
}
//// Quote button goes back to normal on larger screens
@media (min-width: 768px) {
    .col-md-8 {
        #quote {
        width: 600px;
        }
    }
}

//Actual CSS
.hero {
    height: 350px;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    .col-md-11 {
        max-width: 1200px;
        .col-md-8 {
            height: auto;
            width: 100%;
            color: whitesmoke;
            padding: 70px 0px 70px 0px;
            p {
            text-shadow: 0px 0px 9px black;
            }
            .hero-text {
                margin: 0px;
            }
            #quote {
                display: block;
                height: 50px;
                font-size: 20px;
                color: #505050;
                border-radius: 13px;
                background-color: rgba(242, 241, 239, 0.8);
                border: none;
                margin: 10px 0px 10px 0px;
            }
            .phone {
                color: #aac35e;
                text-align: center;
            }
        }
    }
}