// <-- Media Queries -->
@media (min-width:0) and (max-width:575px) {
    .title {
        font-size: 9vw;
        margin-bottom: 30px;
    }
    .text{
        font-size: 4vw;
    }
}
@media (min-width:576px) {
    .title {
    font-size: 30px;
    margin-bottom: 50px;
    }
}
@media (max-width: 375px) {
    .contentbox {
        padding: 50px 0px 50px 0px;
        margin-bottom: 0px;
    }
}
@media (min-width: 376px) {
    .contentbox {
        padding: 70px 0px 70px 0px;
        // margin-bottom: 30px;
    }
}
// XL 1200px
@media (min-width: 1200px) {
    .contentbox {
        width: 1080px;
    }
}
// LG 992-1199px 
@media (min-width:992px) and (max-width:1199px) {
    .contentbox {
        width: 950px;
    }
} 

// MD 768-991px 
@media (min-width:768px) and (max-width:991px) {
    .contentbox {
        width: 650px;
    }
} 

// SM 576-767px 
@media (min-width:576px) and (max-width:767px) {
    .contentbox {
        width: 500px;
    }
}

// Actual CSS
.section {
    height: auto;
    padding: 0px 10px 0px 10px;
    .text {
        color: #7a7b7d;
        font-family: "Avenir Book";
        text-align:center;
    }
    .title {
        color: #505050;
        font-family: "Avenir Book";
        font-weight: normal;
        font-style: normal;
        text-align:center;
    }
    .btn {
        height: 50px;
        width: 100%;
        border-radius: 13px;
        color: #496325;
        border: none;
        background-color: #aac35e;
        font-size: 20px;
    }
}